header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 73px;
  font-size: 13px;
  font-weight: 400;
  background-color: #f4f7f6;
}

div{
  display: block
}

.navbar{
  position: relative;
  display: flex;
  height: 70px;
  border-bottom: 1px solid #E6EAEA;
}

.logo-link{
  display: block;
  position: absolute;
  top: 21px;
  left: 50%;
  width: auto;
  height: 23px;
  line-height: normal;
  transform: translateX(-50%)
}

.the-logo{
  width: 100px

}
.east-side{
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.the-links{
  display: flex
}


