#main{
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.5s ease-in-out;
  height: 100%;
  background: #f4f7f6;
}

.move{
  left: 320px !important;
  transition: all 0.5s ease-in-out;
}



.side-nav-background.hide{
  position: fixed;
  // width: 320px
  // background: #3d3e3e;
  background: rgba(0, 0, 0, 0);
  top: 0;
  bottom: 0;
  left: -320px;
  right: 0;
  z-index: 4;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.side-nav-background.show{
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  transition: all 0.5s ease-in-out;

}

.side-nav-child{
  position: relative;
  width: 320px;
  top: 0;
  height: 100%;
  background: #f4f7f6;
  transition: all 0.5s ease-in-out;
  overflow-x: hidden;
  z-index: 4;

}

.side-nav-item{
  position: relative;
  display: block;
  padding: 24px 36px;
  font-size: 17px;
  font-weight: bold;
  color: #202121;
  cursor: pointer;
  background: #f4f7f6;
  border-bottom: 1px solid #E6EAEA;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.das-side-links > a{
  text-decoration: none;
}

.side-nav-item:hover{
  background-color: #fcfcfc;
  transition: background 0.3s ease-in-out;
}

#home{
  border-top: 1px solid #E6EAEA;
}

.side-x-close{
  float: right;
  position: relative;
  right: 64px;
  top: 22px;
  font-size: 18px;
}

.side-x-close:hover{
  opacity: 0.75;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.side-nav-closers{
  position: relative;
  z-index: 4;
  width: 100%;
  height: 62px;
}