.more-or-less-home{
  background: #f4f7f6;
}

.the-high-roller{
  height: 500px;
  width: 100%;
}

.the-index-header{
  height: 131px;
  width: 92%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 66px;
}

.the-index-header > span{
  width: 33%;
  font-size: 18px;
  width: 46%;
  font-size: 18px;
  text-align: center;
}

.the-website-index-ul {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.website-index-li{
  display: flex;
  height: 425px;
  width: 33%;
  max-width: 400px;
  margin-left: 25px;
  margin-bottom: 66px;
  min-width: 300px;
}

.website-index-li:hover{
 cursor: pointer;
}

.the-meat-and{
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: #fcfcfc;
}

.the-figures{
  width: 100%;
  height: 70%;
  max-height: 292px;
}

.website-index-info{
  width: 100%;
  height: 20%;
  padding: 15px;
}

.website-index-info > h1 {
  padding-left: 15px;
}

.website-index-img{
  width: 100%;
  height: 100%;
}

.website-index-footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: #fcfcfc;
  height: 10%;
  border-top: solid 1px #f4f7f6;
}

.website-index-footer> h1{
  padding: 13px;
}

.the-high-roller{
  background-image: linear-gradient(120deg,#89f7fe 0,#4676fa 100%);
}

.cover-art{
  display: flex;
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, #89f7fe 0, #4676fa 100%);
  justify-content: center;
  align-items: center;
}

.the-content-link {
  display: contents;
}

.canvas{
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.high-roller-title{
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 200px;
}


.the-index-fav{
  position: absolute;
  top: 125px;
  left: 75px;
  font-size: 20px;
  color: #fcfcfc;
  z-index: 1;
}

.cover-button-botleft{
  position: relative;
  left: 75px;
  display: flex;
  bottom: 80px;
  z-index: 1;
  font-size: 16px;
  background: #42c5b6;
  width: 9%;
  justify-content: center;
  height: 34px;
  align-items: center;
  border-radius: 25px;
  max-width: 130px
}

.bottom-left-a-tag{
  color: #fcfcfc;
}

a{
  text-decoration: none;
}
