.the-high-roller{
  height: 500px;
  width: 100%;
}

.the-index-header{
  height: 131px;
  width: 92%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 66px;
}

.the-index-header > span{
  width: 33%;
  font-size: 18px;
}

.the-website-index{
  width: 92%;
  height: 100%;
  margin: 0 auto;
  margin: 0 66px;
  display: flex;
}

.website-index-li{
  display: flex;
  height: 325px;
  width: 25%;
}

.website-index-li:hover{
 cursor: pointer;
}

.the-meat-and{
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: #fcfcfc;
}

.the-figures{
  height: 72%;
}

.website-index-info{
  padding: 20px;
  box-sizing: inherit;
}

.website-index-img{
  width: 100%;
  height: 100%;
}

.website-index-footer{
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: #fcfcfc;
}

.the-high-roller{
  background-image: linear-gradient(120deg,#89f7fe 0,#4676fa 100%);
}

.cover-art{
  display: flex;
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, #89f7fe 0, #4676fa 100%);
  justify-content: center;
  align-items: center;
}

.canvas{
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.high-roller-title{
  overflow: hidden;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 130px;
}

// {
//   overflow: hidden;
//   position: absolute;
//   z-index: 1;
//   pointer-events: none;
//   top: 200px;
//   color: white;
//   font-size: 38px;
//   font-weight: 800;
// }

.the-index-fav{
  position: absolute;
  top: 125px;
  left: 75px;
  font-size: 20px;
  color: #fcfcfc;
  z-index: 1;
}

.cover-button-botleft{
  position: relative;
  left: 75px;
  display: flex;
  bottom: 80px;
  z-index: 1;
  font-size: 16px;
  background: #42c5b6;
  width: 9%;
  justify-content: center;
  height: 34px;
  align-items: center;
  border-radius: 25px;
  max-width: 130px
}

.bottom-left-a-tag{
  color: #fcfcfc;
}

a{
  text-decoration: none;
}
