.the-full-show{
  background: #f4f7f6;
}

.show-website-cover{
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}

.show-title{
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 200px;
  color: white;
  font-size: 38px;
  font-weight: 800;
}

.the-hidden{
  display: none;
}

.show-body{
  display: flex;
  justify-content: center;
  padding: 100px 60px;
  max-width: 1000px;
  margin: auto;
}

.show-description{
  word-break: break-all;
  hyphens: auto
}

.website-show-direction{
  width: 100%;
  height: 1px;
  border-top: 1px solid #E6EAEA;;
}

.bottom-right-show-button{
  position: relative;
  right: 75px;
  display: flex;
  bottom: 80px;
  z-index: 1;
  font-size: 16px;
  background: #42c5b6;
  width: 9%;
  justify-content: center;
  height: 34px;
  align-items: center;
  border-radius: 25px;
  max-width: 130px;
  float: right;
}

.bottom-right-show-button > span {
 color: #fcfcfc;
}

.the-high-roller{
  background: rgba(0, 0, 0, 1);
}
.chart {
  width: 160px;
  font-family: "apercu",sans-serif;
  height: 160px;
  margin: 0 auto 40px auto;
  position: absolute;
  text-align: center;
  z-index: 5;
  margin-top: 50px;
  font-size: 25px;
  color: white;
}
.chart span {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}
#chart-bottom{
  bottom: 0;
  margin-top: 95px;
}