<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Particles Login</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="particles-js">
    <div id="login">
      <form>
        <div>
          <label for="username">Username</label>
          <br>
          <input type="text" placeholder="Username">
        </div>

        <div>
          <label for="password">Password</label>
          <br>
          <input type="text" placeholder="Password">
        </div>
        <input type="submit" value="Login">
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  <script>
    particlesJS.load('particles-js', 'particles.json', function(){
      console.log('particles.json loaded...');
    });
  </script>
</body>
</html>
